*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-one{
    background-image: url(../assets/bg_dg.jpg);
    background-attachment: scroll;
    width: 10000px;
    size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two{
    background-image: url(./assets/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container{
    background: black;
    border-radius: 25px;
    padding: 25px;
    max-width: 300px;
}

form{
    display: grid;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: white;
    color: black;

}

footer{
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color: blue;
    color: cornsilk;
}